@import 'tailwindcss';

/* Chrome, Edge, Safari */
::-webkit-scrollbar-thumb {
	background-color: #9b9bc2;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #585899;
}

/* Firefox */
* {
	scrollbar-color: #9b9bc2 transparent;
}

.fixed-descriptions table {
	table-layout: fixed !important;
	width: 100% !important;
}
